<footer>
    <div class="f-info">
        <div class="f-info-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="f-text">&copy; 2025 Airbnb, Inc.</div>
        <div class="f-info-links">
            <a href="#">Privacy</a><a href="#">Terms</a><a href="#">Company Details</a>
        </div>
    </div>
</footer>