<% layout('layouts/boilerplate') -%>
<body>
  <h1>Your Place Details</h1>
  <!-- <form action="/listings/new" method="post" novalidate class="needs-validation">
    <div class="mb-3">
      <label for="title" class="form-label">Enter Title:</label>
      <input type="text" name="title" id="title" placeholder="Title of place" required class="form-control">
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please enter a title.</div>
    </div>

    <div class="mb-3">
      <label for="url" class="form-label">Enter Image URL:</label>
      <input type="text" name="url" id="url" class="form-control" placeholder="Enter url of the image">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Enter Description:</label>
      <input type="text" name="description" id="description" placeholder="Description of place" required class="form-control">
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please enter a description.</div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Enter Price:</label>
      <input type="number" name="price" id="price" placeholder="Price of place in US dollars" required class="form-control">
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please enter a valid price.</div>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Enter Location:</label>
      <input type="text" name="location" id="location" placeholder="Location of place" required class="form-control">
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please enter a location.</div>
    </div>

    <div class="mb-3">
      <label for="country" class="form-label">Enter Country:</label>
      <input type="text" name="country" id="country" placeholder="Country" required class="form-control">
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please enter a country.</div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" id="formBtn">Submit</button>
  </form> -->
<form action="/listings/new" method="POST" novalidate>
  <input name="listing[title]" placeholder="Title" required />
  <input name="listing[image][url]" placeholder="Image URL" />
  <input name="listing[description]" placeholder="Description" required />
  <input name="listing[price]" type="number" placeholder="Price" required />
  <input name="listing[location]" placeholder="Location" required />
  <input name="listing[country]" placeholder="Country" required />
  <button>Add Listing</button>
</form>

</body>

